@import "../../../scss/index.scss";

.row-home{
  &__col-left {
    text-align: left;
    margin-left:40px;
    max-width:100%;

    .ant-list-item{
      padding: 0;
      margin: 0;
    }
  }

  &__col-right {
    max-width: 300px;
    margin: auto;
    margin-top: 0;

    &__mostviewed {
      .ant-card-head {
        background-color: rgb(25, 12, 71);
        color: white;
      }
      margin-top: 10px;
    }
  }
}
