@import "../../../../scss/index.scss";

.card-publication-section{
    margin: 10px 0 0 40px;
    min-height: 250px;
    max-width: 100%;
    &__subtitle{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        line-clamp: 5;
        overflow: hidden;
       }
}