@import "../../../scss/index.scss";

.row-sports{
    &__left-news {
      text-align: left;
      max-width: 100%;
    }

    &__right-news {
      max-width: 300px;
      margin: auto;
      margin-top: 10px;
      &__ads {
      }
      &__related {
        .ant-card-head{
            background-color: rgb(25, 12, 71);
            color: white;
        }
        margin-top: 10px;
      }
    }
  }
  
.sponsors {
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

@media(max-width: $media-breackpoint-down-sm){
  .ant-col-18{
    flex: 0 0 100%;
    margin-left: 0;
  }

   .ant-col-6{
     flex: 0 0 130%;
     max-width: 100%;
   }
}