@import "../../../../scss/index.scss";

.row-principal{
    margin-top: 10px;
    width: 100%;
}
    .row-secondary{
        margin-top: 10px;
        &__item{
            width: 100%;
        }
    }

